{% extends 'index.html' %}

{% block content %}
    <h2>{{ category_name }}</h2>
    <p>Отфильтрованные товары в категории {{ category_name }}:</p>
    <p>Пол: {{ gender }}</p>
    <p>Тип одежды: {{ clothing_type }}</p>

    <!-- Здесь вы можете добавить код для вывода отфильтрованных товаров -->
    <!-- Например, использовать цикл для вывода списка товаров из базы данных -->

    <!-- Пример: вывод списка товаров -->
    <ul>
        <li>Товар 1</li>
        <li>Товар 2</li>
        <!-- Дополните код вывода товаров по вашим требованиям -->
    </ul>
{% endblock %}